otter-grader==4.0.2
roboworld==0.1.5
https://github.com/fritterhoff/livefeedback/archive/refs/heads/main.zip
jupyter-vscode-proxy==0.1
jupyterlab-git==0.39.2
jupyter-server-proxy==3.2.2
nbgitpuller==1.1.0