otter-grader==4.4.1
roboworld==0.1.5
https://github.com/fritterhoff/livefeedback/archive/refs/heads/main.zip
jupyter-vscode-proxy==0.5
jupyterlab-git==0.41.0
jupyter-server-proxy==4.1.0
nbgitpuller==1.1.1
jupyter-archive